RewriteEngine on
RewriteBase /Codeigniter/Myblog
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /Codeigniter/Myblog/index.php/$1 [L,QSA]